body{
 background-image: url(http://netdna.webdesignerdepot.com/uploads/2013/06/featured48@wdd2x.jpg)
}
article p{/*gy here im changing the color of my letters and centering my font also making a border line*/
    color: white;
}
article h1{
    color: white;
    }
    article h2{
        color: white; 
    }
    
    
    h1 {
        border-style: dashed; 
        border-width: 5px; 
        border-color: white;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
    a{
        text-decoration: none;
        color: white;
    }    
    h5{
        color: white;
    }
  
    .center{
        text-align: center;
    }
    